*{
    padding: 0%;
    margin: 0%s;
}

.contenedor{
width: 355px ;
height: 400px;
display: block;
border: black solid 1px;
margin: auto ;
position: relative;
background: rgb(0, 0, 0);

}

p{
    margin-top: 55px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    background: chartreuse;
    text-align: center;
    z-index: 100;
    border: white solid 1px;
    border-right: none;
    border-left: none;

}

.mascaraBodyCabeza{
    width: 132px;
    height: 30PX;
    border: none;
    margin: auto;
    position: relative;
    top: 100px;
    border-bottom: none;
    border-top-left-radius: 50px ;
    border-top-right-radius: 50px;
    z-index: 10;
    background: rgb(255, 0, 119);
}

.mascaraBodyCentro{
    width: 132px;
    height: 120PX;
    border:none;
    margin: auto;
    position: relative;
    top: 100px;
    z-index: 5;
}

.color{
    width: 132px;
    height: 30px;
    border: none;
    display: block;
    z-index: 5;
}

.color.uno{
    background: tomato;
}
.color.dos{
    background: rgb(53, 103, 112);
}
.color.tres{
    background: rgb(236, 171, 5);
}
.color.cuatro{
    background: rgb(62, 132, 151);
}


.nariz{
    width: 20px;
    height: 85px;
    background: rgb(79, 21, 106);
    position: absolute;
    z-index: 30;
    border: none;
    border-radius: 50px   ;
    top: 30px;
    left: 56px;
}



.ojos{
    width: 50px;
    height: 40px;
    background: rgb(255, 255, 255);
    position: absolute;
    z-index: 20;
    border-radius: 12px;
    top: 40px;
}
.ojos.right{
    right: 5px;
}

.ojos.left{
    left: 5px;
}
.ojoInterno{
    width: 33px;
    height: 33px;
    background: black;
    margin:3px auto;
    border-radius: 50px;
    border: none;
}

/**orejas*/
.orejas{
    width: 230px;
    height: 90px ;
    background: transparent;
    border: solid rgb(238, 211, 169) 14px;
    position: relative;
    position: absolute;
    border-radius: 60px;
    left: 46px;
    bottom: 144px;
    z-index: 2;
}




/*cuado bajo*/

.contbajo{
    width: 200px;
    height: 130PX;
    border:none;
    margin: auto;
    position: relative;
    top: 100px;
    z-index: 5;    
    border-top: none;
    background: transparent;
}

/*boca*/

.boca{
    width: 45px;
    height: 43px;
    background:black ;
    position: absolute;
    border: white solid 7px;
    border-radius: 20px;
    z-index: 30;
    left: 70px;
    bottom: 76px;
}

/*lengua*/
.lengua{
    position: absolute;
    width: 20px;
    height: 50px;
    background: rgb(255, 0, 255);    
    z-index: 50;
    border: none;
    border-radius: 5px;
    left: 45%;
    top: 36px;
}



/*cuello*/

.mascaraBodyCuello{    
    height: 0px;
    z-index: 10;  
    display: block;  
    margin: auto;
    
}


.mascaraBodyCuello.uno{
    width: 132px;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 30px solid rgb(220, 12, 126);
}

.mascaraBodyCuello.dos{
    width: 142px;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 30px solid rgb(30, 136, 106); 
}
.mascaraBodyCuello.tres{
    width: 159px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 30px solid rgb(139, 113, 6); 
}



